.Playlist {
  background: #f3f4f8;
  width: 360px;
  height: 480px;
  border-radius: 25px;
  box-shadow: 0px 36px 23px 0px rgba(112,112,112,1);
}

.Playlist-top {
  height: 65px;
  width: 360px;
  background: #f3f4f8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px 25px 0 0;
}

.Playlist-top .Circle {
  margin-left: 21px;
}

.Playlist-top p {
  font-size: 18px;
  font-weight: bold;
  margin-left: 96px;
  color: #60558f;
}

.Content {
  display: flex;
  flex-direction: row;
}

.Sidebar-left {
  width: 25px;
  background: #f3f4f8;
}

.Sidebar-right {
  width: 25px;
  background: #f3f4f8;
}

.Footer {
  position: relative;
  bottom: 40px;
  left: 24px;
  height: 45px;
  width: 280px;
  opacity: 1;
  background-image: linear-gradient(rgba(255,0,0,0), #f3f4f8);
}